/* Global Styles */

*{
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#393939;
  margin: 0;
}

h1, h2, h3, h4, h5{
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
/* Utility */


/* Navabar */

.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:1rem 4rem 1rem 4rem;
  background-color: #393939;
  border-bottom: 2px solid rgb(63, 61, 61)
}

.navLogoContainer{
  align-items: center;
}

.navLogo{
  width: 140px;
  display: block;
}

.navButtonsContainer{
  display: flex;
  flex-direction: row;
}

.navButton{
  padding-left: 1.5rem;
}

.navButton > a{
  text-decoration: none;
  color: white;
}

.navButton > a:hover{
  color:#f6c044;
}

/* Hero Section */
.heroContainer{
  background-color: #393939;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 6rem 2rem 6rem;
  min-height: 600px;
}

.heroLeftContainer{
  flex: .75;
  min-width: 380px
}

.heroTitleContainer{

}

.heroTitleText{
  font-size: 4rem;
  color: white;
}

.heroTitleTextYellow{
  color: #f6c044;
  font-size: 4rem;
  display: block;
  /* -webkit-text-stroke: #393939 1px; */
  /* text-shadow: #393939 1.5px 1.5px 0px; */
}

.heroTagLineText{
  color: #f6c044;
  font-style:italic;
  font-size: 1.5rem;
  /* -webkit-text-stroke: #393939 0.4px; */
  /* text-shadow: #393939 0.75px 0.7px 0px; */
}

.heroDetailsContainer{
  color: white;
  padding-right: 6rem;
}

.heroTextSpan{
  color: #f6c044;
  font-weight: bold;
}

.heroButton{
  background-color: #336284;
  color: white;
  height: 2.5rem;
  width: 8rem;
  border-radius: 4px;
  border: none;
}

.heroButton:hover{
  background-color: #267cb2;
  cursor: pointer;
}

.heroImageContainer{
  flex: 1;
  padding-top: 2rem;
}

.heroImageWide{
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 1100px){
  .heroContainer{
    flex-direction: column;
  }
}

/* Services and Partners */
.servicesPartnersContainer{
  background-color: white;
  min-height: 600px;
}

.servicesSectionTitleText{
  color:#393939;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.servicesSectionHeaderSubtext{
  text-align: center;
}
.servicesSectionHeaderSubtext::before,
.servicesSectionHeaderSubtext::after{
  display: inline-block;
  content: "";
  border-top: 1px solid black;
  width: 5rem;
  margin: 0 1rem;
  transform: translateY(-.3rem)
}

.servicesCardsContainer{
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.servicesCard{
  padding: 1.5rem 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 420px;
}

.servicesCardImageContainer{
  height: 200px;
  width: 100%;
  align-self: center;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesCardGrowthImage{
  height: 90%;
}

.servicesCardStaffImage{
  height: 90%;
}

.servicesCardIndustryImage{
  height: 75%
}

.servicesCardTitleText{
  color: #393939;
}

.servicesCardTitleText::before{
  content: "";
  border: 3px solid #f6c044;
  margin-right: 1.5rem;
}

.servicesCardTextDescription{
  color: #393939;
}

.servicesButtonsContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 2rem;
}

.servicesDetailsButton{
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  border: none;
  box-shadow: -3px 3px 8px #393939;
}

.seeCoursesButton{
  background-color: #336284;
  color: white;
}

.seeOtherServicesButton{
  background-color: #f6c044;
  color:#393939;
}

.seeCoursesButton:hover{
  background-color: #267cb2;
  cursor: pointer;
}

.seeOtherServicesButton:hover{
  background-color: #f7b00b;
  cursor: pointer;
}

@media (max-width: 1100px){
  .servicesCardsContainer{
    flex-direction: column;
    align-items: center;
  }
}

/* About */
.aboutContainer{
  min-height: 600px;
  background-color: #393939;
}

.aboutSectionTitleText{
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  color: white;
}

.allAboutContainers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 6rem 0 6rem;
}

.personAboutContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 4rem;
}

.nameTitleContainer{
  color:#f6c044;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.aboutDetailsContainer{
  color: white;
  width: 25rem;
}


.edHeadshot{
  width:200px;
  margin-bottom: 1rem;
  border-radius: 20px;
}

@media (max-width: 1100px){
  .personAboutContainer{
    flex-direction: column;
  }
}

/* Contact */
.contactContainer{
  background-color: white;
  min-height: 600px;
}

.contactSectionTitleText{
  color: #393939;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.contactInfoAndFormContainer{
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.contactInfoDetailsContainer{
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.contactForm{
  display: flex;
  flex-direction: column;
}

.formNamePhoneContainer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.formNameContainer, .formPhoneContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contactField{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 2rem;
  border-radius: 6px;
  border: 2px solid #8d8888;
  padding-left: 0.5rem;
}

.contactField:focus{
  border: 2px solid #393939;
  outline: none;
}

.contactFieldFullMessage{
  border-radius: 6px;
  border: 2px solid #757575;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.contactFieldFullMessage:focus{
  border: 2px slid #393939;
  outline: none;
}

.contactSubmitButton{
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 12rem;
  height: 2.5rem;
  background-color: #336284;
  border-radius: 6px;
  border: none;
  color: white;
  box-shadow: 3px 3px 6px #393939;
}

.contactSubmitButton:hover{
  background-color: #267cb2;
  cursor: pointer;
}

@media (max-width: 1100px){
  .contactInfoAndFormContainer{
    flex-direction: column;
    align-items: center;
  }
  .contactForm{
    max-width: 80vw;
  }
}

/* Footer */

.footerContainer{
  background-color: #393939;
  border-top:2px solid rgb(63, 61, 61);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footerText {
  margin: 0;
  color: gray;
  text-decoration: none;
}

.imageAttribution{
  display: flex;
  flex-direction: column;
}