/* Global Styles */

*{
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#393939;
  margin: 0;
}

h1, h2, h3, h4, h5{
  margin: 0;
}

/* Utility */


/* Navabar */

.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:1rem 4rem 1rem 4rem;
  background-color: #393939;
}

.navLogoContainer{
  align-items: center;
}

.navLogo{
  width: 140px;
  display: block;
}

.navButtonsContainer{
  display: flex;
  flex-direction: row;
}

.navButton{
  padding-left: 1.5rem;
}

.navButton > a{
  text-decoration: none;
  color: white
}

.navButton > a:hover{
  color:#f6c044;
}

/* Hero Section */
.heroContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 7rem 2rem 7rem;
  height: 90vh;
  min-height: 600px;
}

.heroLeftContainer{
  flex: 1;

}

.heroTitleContainer{

}

.heroTitleText{
  font-size: 4rem;
}

.heroTitleTextYellow{
  color: #f6c044;
  font-size: 4rem;
  display: block;
}

.heroTagLineText{
  color: #f6c044;
  font-style: italic;
  font-size: 1.5rem;
}

.heroDetailsContainer{
  padding-right: 6rem;
}

.heroTextSpan{
  color:#267cb2;
  font-weight: bold;
}

.heroButton{
  background-color: #267cb2;
  color: white;
  height: 2.5rem;
  width: 8rem;
  border-radius: 4px;
  border: none;
}

.heroButton:hover{
  background-color: #336284;
}

.heroImageContainer{
  flex: 1;
  padding-top: 2rem;
}

.heroImage{
  width: 100%;
}

/* Services and Partners */
.servicesPartnersContainer{
  background-color: #393939;
  min-height: 600px;
}

.servicesSectionTitleText{
  color:white;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1.5rem;
}

/* About */
.aboutContainer{
  min-height: 600px;
}

.aboutSectionTitleText{
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1.5rem;
}

/* Contact */
.contactContainer{
  background-color: #393939;
  min-height: 600px;
}

.contactSectionTitleText{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1.5rem;
}